body{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    background-color: white;
}

.content{
    padding: 0 200px;
}

.header{
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    
}
.header *{
    flex: 1;
}
.header .left{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.header .right{
    display: flex;
    gap: 50px;
}

.header .right button{
    flex: 0;
    padding: 10px 20px;
    text-align: center;
    background-color: #ffe512;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 14px;
    font-family: 'Oswald';
    font-size: 18px;
}

.header .right button:hover{
    border: 2px solid #ffe512;
}

.nav-bar-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    gap: 40px;
}

.nav-bar-content *{
    flex: 1;
}

.nav-bar-content li a{
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.nav-bar-content li a:hover{
    border-bottom: 3px solid #ffe512;
}

.hero{
    background-image: url(../resources/homepage/hero.jpeg);
    width: 71.2vw;
    height: 500px;
    background-size: cover;
    text-align: center;
    padding-bottom: 100px;
    border-bottom: 5px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.hero p{
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 80px;
    padding-top: 50px;
}

.hero button{
    font-family: 'Oswald', sans-serif;
    padding: 10px 3px;
    background-color: #ffe512;
    font-size: 20px;
    border: 1px solid #ffe512;
}
.hero button:hover{
    border: 1px solid black;
}

.offer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.offer p{
    font-size: 30px;
}

.offer .offer-list{
    display: flex;
    gap: 30px;
}

.offer .offer-list .offer-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offer .offer-list .offer-item p{
    font-size: 20px;
}

.offer .offer-list .offer-item img{
    width: 300px;
    height: 300px;
    border: 6px solid #ffe512;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(212, 196, 196, 0.278);
    padding-bottom: 100px;
}
.product button{
    width: auto;
    max-width: 200px;
    margin: auto;
    margin-top: 30px;
    background-color: #ffe512;
    color: black;
    font-size: 20px;
    border: 1px solid black;
    padding: 10px 3px;
    font-family: 'Oswald', sans-serif;
}

.product button:hover{
    border: 1.5px solid black;
}

.product p{
    font-size: 30px;
}

.product .image-wrapper .image-list .product-item p{
    font-size: 20px;

}

.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 200px;
}

.login-container h1{
    margin: 0px;
}

.login-container button{
    border-radius: 10px;
    border: 1px solid black;
}

.login-container .login-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #ffe512;
    padding: 20px 80px;
    border: 2px solid black;
    border-radius: 20px;
}

.product .image-wrapper .image-list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    overflow-x: auto;
}

.product .image-wrapper .image-list::-webkit-scrollbar{
    display: none;
}

.product .image-wrapper .image-list .image-item{
    width: 300px;
    object-fit: cover;
}

.footer{
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
   
}

.footer .right-side .social-medias{
    list-style-type: none;
    display: flex;
    gap: 25px;
}


.footer .right-side .social-medias a{
    text-decoration: none;
    color: white;
}

.footer .right-side .social-medias a img{
    width: 30px;
    background-color: white;
    border-radius: 90px;
}

.login-container p{
    margin: 1px;
}

.login-container button{
    border-radius: 0;
    width: 90px;
}

.bg-container{
    background-image: url(../resources/homepage/hero.jpeg);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.news-object{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 30px;
    
}

.news-object img{
    width: 400px;
    height: 500px;
    border: 4px solid #ffe512;
}

.news-object .left-side, .news-object .right-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.news-object h2{
    font-size: 50px;
    font-weight: bold;
}

.news-object p{
    font-size: 25px;
}

.news-2, .news-4{
    background-color: rgba(212, 196, 196, 0.278);
}

.partner-object{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 40px;
}

.partner-object img{
    width: 400px;
    height: 400px;
}

.partner-3 img{
    width: 400px;
    height: 300px;
}

.partner-object h2{
    font-size: 50px;
    margin: 0px;
}

.partner-object p{
    font-size: 20px;
}

.partner-object button{
    font-family: 'Oswald', sans-serif;
    background-color: #ffe512;
    color: black;
    font-size: 20px;
    border: 2px solid black;
}

.partner-object .left-side, .partner-object .right-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.partner-2{
    background-color: rgba(212, 196, 196, 0.278);
}


